:root{
    --black-theme: #000000;
    --white-theme: #fff;
    --faded-black-theme: rgb(50, 50, 50);
    --cyan-theme: rgb(0, 255, 255);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#navbar{
    background: var(--black-theme);
    border-bottom: 2px var(--cyan-theme) solid;
    display: flex;
    justify-content: center;
    gap: 15px;
    padding: 20px;
}

#navbar button{
    padding: 15px;
    background: var(--faded-black-theme);
    color: cyan;
    font-weight: bold;
}

#stopwatch {
    background: var(--black-theme);
    position: relative;
    height: 100vh;
}


#stopwatch h1{
    color: var(--white-theme);
    font-size: 2rem;
    text-align: center;
}

#clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#time{
    font-size: 2.4rem;
    color: var(--white-theme);
}

#lapTimers{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    padding-top: 12px;
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 20px;
    background: var(--black-theme);
    border: 2px solid var(--cyan-theme);
    max-height: 142px;
    width: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;

}

.lap{
    color: var(--cyan-theme);
    border-bottom: 0.5px solid var(--cyan-theme);
    margin: 0;
}





/* button styling */
#buttonContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

#buttonContainer button{
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 0;
    color: var(--cyan-theme);
    background-color: red;
    /* background-color: var(--black-theme); */
    border: none;
}

#buttonContainer button:hover{
    background: var(--faded-black-theme);
}


/* to determine current play button state */
button .icon{
    display: none;
}

button:not(.running) .fa-play {
    display: inline;
}

button.running .fa-pause {
    display: inline;
}
