body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.wrapper {
    background-color: black;
    position: relative;
    height: 100vh;
}


.wrapper h1{
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

#clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#time{
    font-size: 2.4rem;
    color: #fff;
}

#lapTimers{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    padding-top: 12px;
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 20px;
    background-color: #000000;
    border: 2px solid cyan;
    max-height: 142px;
    width: 150px;
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;

}

.lap{
    color: cyan;
    border-bottom: 0.5px solid cyan;
    margin: 0;
}





/* button styling */
.buttoncontainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

button{
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 0;
    color: cyan;
    background-color: black;
    border: none;
}

button:hover{
    background-color: rgb(51, 51, 51);
}


/* to determine current play button state */
button .icon{
    display: none;
}

button:not(.running) .fa-play {
    display: inline;
}

button.running .fa-pause {
    display: inline;
}
