:root{
    --black-theme: #000000;
    --white-theme: #fff;
    --faded-black-theme: rgb(50, 50, 50);
    --cyan-theme: rgb(0, 255, 255);
}

/* Default stylings */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}



/* Main HTML Template CSS::: */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#navbar{
    background: var(--black-theme);
    border-bottom: 2px var(--cyan-theme) solid;
    display: flex;
    justify-content: center;
    gap: clamp(1rem, 20px, 2rem);
    padding: 20px;
}

#navbar button{
    padding: 15px;
    background: var(--faded-black-theme);
    color: cyan;
    font-weight: bold;
    font-size: clamp(1.5rem, 30px, 2rem);
}

#content{
    background: var(--black-theme);
}





/* Stop-Watch CSS::: */
#stopwatchWrapper {
    position: relative;
    height: 100vh;
}

#stopwatchWrapper h1{
    color: var(--white-theme);
    font-size: clamp(2rem, 40px, 4rem);
    text-align: center;
    padding: clamp(1rem, 20px, 2rem);
    margin: 0;
}

#stopwatchClockDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#stopwatchTime{
    font-size: 2.4rem;
    color: var(--white-theme);
}

#lapTimersDiv{
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    gap: 12px;
    padding-top: 12px;
    position: absolute;
    left: 100%;
    top: 0;
    margin-left: 20px;
    background: var(--black-theme);
    border: 2px solid var(--cyan-theme);
    max-height: 142px;
    width: 200px;
    /* width: clamp(200px, 40%, 500px); */
    overflow-y: auto;
    overflow-x: hidden;
    text-align: center;
}

.lap{
    /* font-size: clamp(1rem, 24px, 2rem); */
    color: var(--cyan-theme);
    border-bottom: 0.5px solid var(--cyan-theme);
    margin: 0;
}

#lapBtn{
    color: var(--cyan-theme);
    border-bottom: 0.5px solid var(--cyan-theme);
    margin: 0;
}


/* Stop-Watch Button Styling */
#buttonContainer{
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}

#buttonContainer button{
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 10px;
    border-radius: 0;
    color: var(--cyan-theme);
    background-color: var(--black-theme);
    border: none;
}

#buttonContainer button:hover{
    background: var(--faded-black-theme);
}


/* Logic to determine which icon will be shown on toggleBtn */
button .icon{
    display: none;
}

button:not(.running) .fa-play {
    display: inline;
}

button.running .fa-pause {
    display: inline;
}









/* Timer CSS::: */
#timerWrapper {
    position: relative;
    height: 100vh;
}

#timerWrapper h1{
    color: var(--white-theme);
    font-size: clamp(2rem, 40px, 4rem);
    text-align: center;
    padding: clamp(1rem, 20px, 2rem);
    margin: 0;
}

#defaultMessageDiv {
    max-width: 500px;
    width: 300px;
    position: absolute;
    color: var(--white-theme);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.fa-stopwatch{
    color: var(--white-theme);
    font-size: 16rem;
}

#timerButtonContainer{
    display: flex;
    gap: 30px;
}

#timerButtonContainer i{
    font-size: 50px;
}









/* Timer Form and Overlay Styling */
#overlay{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: rgba(82, 79, 76, 0.75);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

#formModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
    background-color: rgba(95, 95, 95, 0.700);
    border: 1px solid rgba(104, 104, 104, 0.700);
    box-shadow: 2px 2px 5px rgba(128, 128, 128, 0.700);
    border-radius: 10px;
}

#form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: clamp(1rem, 20px, 1.5rem);
    padding: clamp(1rem, 20px, 1.5rem);
    color: #fff;
}